#navbar-component {
    position: relative;
    display: flex;
    width: 100%;
    box-shadow: 0px 2px;
}

#navbar-home {
    display: flex;
    width: 50%;
}

#navbar-list {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

#navbar-list-content {
    column-gap: 20px;
}

/* #navbar-button {
} */

#auxiliary-navbar-list {
    flex-direction: column;
}

a {
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center; 
}

a:hover {
    cursor: pointer;
}