<div class="tabs-container">
    <div class="tabs" #tabs>
      <div class="tab active" data-value="0" #defaultTab>Tab 1</div>
      <div class="tab" data-value="1">Tab 2</div>  
      <div class="tab" data-value="2">Tab 3</div>  
    </div>
    <div class="indicator">
      <div class="chosen" #chosen></div>
    </div>
    <div id="tabs-content" #tabsContent [style.height]="this.tabsContentHeight">
      <div class="content active" data-value="0">
        <img class='logo'>
        <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac massa vel dui blandit pharetra. Vivamus quis posuere mauris. Integer mollis ullamcorper nulla vitae fringilla. Curabitur pretium lorem fermentum ullamcorper gravida. Aenean iaculis odio eget neque sollicitudin ullamcorper. Vestibulum sodales quis enim eget auctor. Fusce a arcu vel velit pharetra volutpat a quis eros.
        </div>
      </div>
      <div class="content" data-value="1">
        <img class="logo">
        <div class="text">
        Praesent bibendum arcu in vehicula finibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur ac convallis est. Proin at tempor velit. Etiam egestas erat nibh, quis tincidunt felis ullamcorper ut. Fusce sit amet est eu urna rhoncus facilisis suscipit eget lorem. Ut accumsan, ligula nec molestie luctus, nunc dui sollicitudin neque, quis vulputate ante lacus at nunc.
        </div>
      </div>
      <div class="content" data-value="2">
        <img class="logo">
        <div class="text">
        Donec egestas interdum ullamcorper. Sed odio est, placerat sit amet varius in, gravida sit amet purus. Sed mollis est vitae scelerisque blandit. Suspendisse ac diam vel ante blandit ornare nec eget elit. Nam sollicitudin justo a libero imperdiet, at elementum est vestibulum. Etiam vehicula porta lacus at dignissim. Ut cursus lectus a porta euismod. In sit amet ligula orci. Morbi aliquet nunc mi. Maecenas pretium lorem id urna mattis ullamcorper. Praesent at varius ipsum.
        </div>
      </div>
    </div>
  </div>
